<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Part 1 of Free Code Camp Backend Challenges</h1>
        <h3>Example usage:</h3>
        <div>
          <a href="https://cloud-city.glitch.me/July%07%072017">https://cloud-city.glitch.me/July%07%072017</a>
        </div>
        <div>
          <a href="https://cloud-city.glitch.me/1450137605">https://cloud-city.glitch.me/1450137605</a>
        </div>
        <hr/>
        <h3>Example output:</h3>
        <p>
          { unix: 1498867200000, natural:	"July 01, 2017" }
        </p> 
      </div>
   </body>

</html>
